@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form, input, img {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 14px;
}

/*大区域开始*/
body {
    background-image: url(../img/back.jpg);
}

/*大区域结束*/

/*登录大区域开始*/
.denglu {
    width: 400px;
    height: 350px;
    background-color: #FFF;
    box-shadow: 3px 3px 3px #0033CC;
    border-radius: 3px;
    margin-top: 90px;
    margin-left: 850px;
}

/*登录大区域结束*/

/*用户登录文字开始*/
.userLogin {/*
    font-family: "宋体";*/
    color: #09F;
   /* padding-left: 20px;*/
    font-size: 36px;
    padding-left: 50px;
    padding-top: 20px;
}

/*用户登录文字结束*/

/*用户名输入开始*/
.userName {
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 40px;
}

/*用户名输入结束*/

/*密码输入开始*/
/*.password {*/
    /*position: relative;*/
/*}*/

/*.password img {*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    right: 50px;*/
/*    width: 30px;*/
/*    margin-top: 32px;*/
/*}*/

.password {
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 30px;
}

/*密码输入结束*/

/*登录按钮开始*/
.loginButton {
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #09F;
    border: none;
   /* font-family: "宋体";*/
    color: #FFF;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

/*登录按钮结束*/

/*错误信息提示开始*/
.wrongHint {
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    color: red;
    font-size: 14px;
}

/*错误信息提示结束*/

/*用户注册开始*/
.userLogon {
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
}

.userLogon a {
    color: #09F;
}

/*用户注册结束*/

/*找回密码开始*/
.findPassword {
    display: inline-block;
    margin-top: 30px;
    padding-left: 170px;
}

.findPassword a {
    color: #b6b6b6;
}

/*找回密码结束*/

/*导航栏样式开始*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    width: 1100px;
    height: 50px;
    margin-left: 350px;
    margin-top: 50px;
}

li {
    float: left; /*块显示加浮动收缩到内容大小*/
    margin-left: 90px;
   /* font-family: "宋体";*/
    font-size: 25px;
}

li a {
    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #FFF;
}

li a:hover {
    color: #06F;
    background-color: #FFF;
    border-radius: 20px;
}

/*导航栏样式结束*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}