@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin: 0; padding: 0;}
li{ list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;
    font-weight: normal;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
body{ font-size: 14px;}

.noticeContent{ width: 1000px;
    margin: 0 auto;}
.noticeContent h5{ text-align:center;
    font-size:17px;
    color:#444444;
    font-weight:bold;
    line-height:60px;}
.noticeContent h6{ text-align:center;
    font-size:15px;
    color:#666;
    font-weight:normal;}
.noticeText{ height:auto;
    width:1000px;
    padding-bottom:30px;
    border-bottom:#666 dashed 1px;
    margin-top: 10px;}
/*上一条下一条样式*/
.noticeNext{ height:auto;
    width:1000px;
    margin: 0 auto;}
.noticeNext p{ line-height:30px;
    color:#666666;}
.noticeNext p a{ color:#666666;}
.noticeNext p a:hover{ color:red;}