@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin: 0; padding: 0;}
li{ list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;
    font-weight: normal;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
body{ font-size: 14px;}

.uploadDeBox {
    padding: 15px 10px;
    border-radius: 3px;
    border: 1px dashed gray;
    width: 810px;
    height: 150px;
    margin: 0 auto;
}
.uploadDeBox .uploadBackDeImg {
    position: relative;
}
.uploadBackDeImg .deFile {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
}
.uploadDeBox .showDeImgSection {
    position: relative;
    margin-right: 10px;
}
.showDeImgSection .closeShowDeImg {
    position: absolute;
    top: -10px;
    right: -12px;
    display: none;
    z-index: 10;
    width: 20px;
    cursor:pointer;
}
.showDeImgSection .de-up-span {
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,.5);
    border: 1px solid #ddd;
}
.showDeImgSection:hover .closeShowDeImg {
    display: block;
}
.showDeImgSection:hover .de-up-span {
    visibility: visible;
}
.uploadDeBox .de-to-up-img {
    display: block;
    width: 100%;
    height: 100%;
    border:1px solid #ddd;
}
.deLoading {
    border: 1px solid #D1D1D1;
    background: url(../img/loading.gif) no-repeat center;
    background-size:20px;
}
.de-up-clarity {
    opacity: 0;
}
.fl {
    float: left;
}
.clear {
    clear: both;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.uploadDeImg .showDeImgSection {
    width: 150px;
    height: 150px;
}
.uploadDeImg .uploadBackDeImg {
    width: 150px;
    height: 150px;
}
.uploadBackDeImg .addDeImg {
    display: block;
    width: 150px;
    height: 150px;
    border:1px dashed #ddd;
    border-radius:3px;
}
.deImgNameP{
    display:none;
}
/*遮罩层样式*/
.deMask {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.deMask .maskDeContent {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -80px;
    background: white;
    height: 150px;
    text-align: center;
}
.deMask .maskDeContent .deleteDeText {
    color: #555;
    height: 105px;
    line-height: 105px;
    font-size: 14px;
    border-bottom: 1px solid #D1D1D1;
}
.maskDeContent .delDeCheckText {
    height: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.maskDeContent .delDeCheckText span {
    width: 49%;
    display: inline-block;
    text-align: center;
    color: #F45858;
    font-size: 14px;
    cursor: pointer;
}
.delDeCheckText .deleteDeImg {
    border-right: 1px solid #D1D1D1;
}

