@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin: 0; padding: 0;}
li{ list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 100%;
    font-weight: normal;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
body{ font-size: 14px;}

.userBox{width: 850px;
    height: auto;
    margin: 0 auto;}
/*用户信息字样式*/
.title{ width:850px;
    height:30px;
    background:#FFDFBF;
    margin-top:20px;}
.title span{ font-size:16px;
    font-weight:bold;
    line-height:30px;
    margin-left:20px;}
/*用户信息表格样式*/
.userMsg img{ height:100px;
    width:100px;
    border-radius:50px;}
td{ border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C8C8C8;
    height:40px;
    line-height:40px;
    font-size:14px;}
.textR{ text-align:right;
    font-weight:bold;}
.textL{ text-align:left;}
/*发布文章表格样式*/
.article table{ margin-top:10px;
    margin-left:25px;}
.textC{ text-align:center;}
.article table td a{ color:black;}
.article table td a:hover{ color:red;}